* {
    /* border: 1px red solid; */
    user-select: none;
}

:root {
    --text-shadows: -0.025em -0.025em 0.1em rgba(255, 255, 255, 0.3),
        0.025em 0.025em 0.1em rgba(0, 0, 0, 0.3);
    --box-shadows-default: -0.12em -0.12em 0.16em 0.05em rgba(0, 0, 0, 0.3) inset,
        0.12em 0.12em 0.16em 0.05em rgba(255, 255, 255, 0.3) inset;
    --box-shadows-pressed: 0.21em 0.21em 0.28em 0 rgba(0, 0, 0, 0.3) inset,
        -0.21em -0.21em 0.28em 0 rgba(255, 255, 255, 0.3) inset;
}

body {
    font-family: monospace;
    font-size: 35px;
    height: 100vh;
    margin: 0;
    display: flex;
    background-color: #252220;
    text-align: center;
    color: #1a1a1a;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.typing-area {
    margin: 25px;
    color: #ddd;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    border: 3px solid #ddd;
    border-radius: 7px;
    min-height: 1.15em;
    width: 800px;
    padding: 5px;
    white-space: pre-wrap;
    text-shadow: var(--text-shadows);
}

.keyboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.key {
    box-shadow: var(--box-shadows-default);
    text-shadow: var(--text-shadows);
    padding: 10px;
    margin: 0.3em;
    border-radius: 0.25em;
    background-color: #858280;
}

.symbol-secondary {
    font-size: 15px;
    opacity: 0.5;
}

.spacebar {
    width: 10em;
}

.pressed {
    box-shadow: var(--box-shadows-pressed);
    background: #555;
    color: #ddd;
}

.shift-on {
    text-transform: capitalize;
}

.shift-symbol-main {
    font-size: 15px;
    opacity: 0.5;
}

.shift-symbol-secondary {
    font-size: 35px;
    opacity: 1;
}
