/* {border: 1px red solid;}*/

* {
    user-select: none;
}

body {
    font-size: 35px;
    height: 100vh;
    margin: 0;
    display: flex;
    background-color: #222;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.key {
    border: 3px solid black;
    padding: 10px;
    margin: 5px;
    border-radius: 7px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
}

.shiftkey {
    font-size: 20px;
}

.spacebar > div {
    width: 10em;
}

.pressed {
    background: #444;
    color: #ddd;
    transform: scale(1.1);
    border-color: #ddd;
}